# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider IDE
.idea/

# ASP.NET
*.vspscc
*.vssscc
*.dbmdl

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS generated
.DS_Store
Thumbs.db

# Dotnet-specific
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework
Migrations/

# Others
*.swp
